<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAEPcaS_armlVDYHZUJvgONiPgWEDqahA</string>
	<key>GCM_SENDER_ID</key>
	<string>259564310935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pipomarket.app</string>
	<key>PROJECT_ID</key>
	<string>pipomarket-4da97</string>
	<key>STORAGE_BUCKET</key>
	<string>pipomarket-4da97.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259564310935:ios:77a8af1658f17c9ed1b4d2</string>
	<key>DATABASE_URL</key>
	<string>https://pipomarket-4da97-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
